*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Sour Gummy';
}
/* scroller */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #010344;
  /* border-radius: 20px; */
}
::-webkit-scrollbar-thumb{
  background: #f7f9f2;
  border-radius: 20px;
  
}
/* header */
.navbar{
  background-color: rgba(248, 248, 248, 0.538);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:10px 20px;
  position: fixed;
  bottom: 20px;
  border-radius: 30px;
  left: 51%;
  transform: translate(-50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  position: relative;
}

.navbar ul li {
  position: relative; 
  padding: 10px 10px;
}
.navbar ul li a{
  text-decoration: none;
  position: relative;
  /* height: 120px;
  width: 90px; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:6px 20px;
}

.navbar ul li a i{
  position: absolute;
  font-size: 20px;
}

.navbar ul li a .Activeicon{
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
  transition-delay: 0.2s;
}

.navbar ul li.active a .Activeicon{
  opacity: 1;
  pointer-events: none;
}

.navbar ul .indicator{
  position: absolute;
  bottom: 1px;
  left: 28px;
  height: 4px;
  width: 4px;
  background-color:rgb(132, 178, 242);
  border-radius: 50%;
}


#logo{
  font-family: 'Londrina Sketch', cursive;
  transform: scale(2.5);
  font-weight: 700;
  padding: 7px 7px;
  position: fixed;
  left: 15px;
  top: 10px;
  z-index: 1;
}

/* section1 */

#page1{
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}
.hello{
  font-size: 30px;
  position: absolute;
  top:-20px;
}
.hello span{
  position:relative;
  /* top:20px; */
  left: 48px;
  margin-bottom: 20px;
  display: inline-block;
  color:  white;
  animation: bounce .5s ease infinite alternate;
  /* animation-iteration-count: 2; */
  text-shadow: 
        0 2px 4px rgba(255, 255, 255, 0.3),
        0 4px 8px rgba(255, 255, 255, 0.5),
        0 8px 16px rgba(255, 255, 255, 0.6),
        0 12px 24px rgba(255, 255, 255, 0.7),
        0 18px 36px rgba(169, 169, 169, 0.5);
}
.hello span:nth-child(2){
  animation-delay:0.1s;
}
.hello span:nth-child(3){
  animation-delay:0.2s;
}
.hello span:nth-child(4){
  animation-delay:0.3s;
}
.hello span:nth-child(5){
  animation-delay:0.4s;
}
.hello span:nth-child(6){
  animation-delay:0.5s;
}

@keyframes bounce {
  0% {
    top: 0;
    text-shadow: 
      0 2px 4px rgba(255, 255, 255, 0.3), /* Light white glow */
      0 4px 8px rgba(255, 255, 255, 0.5), /* Stronger white glow */
      0 8px 16px rgba(255, 255, 255, 0.6), /* Glowing effect */
      0 12px 24px rgba(255, 255, 255, 0.7), /* Glowing effect */
      0 18px 36px rgba(169, 169, 169, 0.5);
  }
  100% {
    top: -20px;
    text-shadow: 
      0 3px 6px rgba(255, 255, 255, 0.4), /* Light white glow */
      0 6px 12px rgba(255, 255, 255, 0.6), /* Stronger white glow */
      0 10px 20px rgba(255, 255, 255, 0.7), /* Glowing effect */
      0 15px 30px rgba(255, 255, 255, 0.8), /* Glowing effect */
      0 20px 40px rgba(169, 169, 169, 0.6);
  }
}

#content{
  display: flex;
  /* align-items: ; */
  padding-left: 10px;
  flex-direction: column; 
  /* background-color: #00a2ff; */
  width: 900px;
  position: absolute;
  top: 30%;
  line-height: 15px;
}

h1{
  font-family:'Open Sans';
  font-size: 100px;
  margin: 35px 40px;
  font-weight: bold;
  color: rgb(7, 6, 76);
  animation: appear 2s forwards;
  animation-delay: 3.5s;
  opacity: 0;
}
h1 span{
  color: transparent;
  position: relative;
  line-height: 1;
}
h1 span::before{
  content: "DAUMYA";
  position: absolute;
  top:20px;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: white;
  animation: nameAppear 1s ease-in-out forwards;
  animation-delay: 5.5s;
  text-shadow: 
  0 0 3px #fff,
  0 0 5px #fff,      
  0 0 8px #fff
}

@keyframes nameAppear{
  0%{
    width: 0%;
  }
  100%{
    width:100%;
  }
}
hr{
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 45px;
  width:0;
  animation: widthInc 1s forwards;
  animation-delay: 9s;
  /* margin: auto; */
}
h4{
  /* margin: 15px 15px; */
  /* padding-top: 10px; */
  margin-bottom: 5px;
  font-weight: 400;
  font-family: 'Sour Gummy';
  width: 50%;
  /* margin: auto; */
  color: rgb(255, 255, 255);
  margin-left: 45px;
  animation: appear 2s forwards;
  animation-delay: 6.5s;
  opacity: 0;
}
@keyframes appear{
  0%{
    opacity: 0%;
    border: none;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes widthInc{
  0%{
    width: 0%;
  }
  1%{
    border: 2px solid rgb(255, 255, 255);
  }
  100%{
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
  }
}
.example-2 {
  position: absolute;
  top: 73%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 2s forwards;
  animation-delay: 6.5s;
  opacity: 0;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #f7f9f2;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

:root {
  --color-bg1: #c895f8; /* Bright Coral */
  --color-bg2: rgb(191, 246, 168); /* Sunny Yellow */
  --color3: 89,213,224; /* blue */
  --color1: 245,221,97; /* Sky Blue */
  --color2: 255, 116, 139; /* Bubblegum Pink */
  /* --color4: 255, 76 ,76; red */
  /* --color5: 255, 255, 255; White for brightness */
  --color-interactive: 252,255,193; /* Soft Pink Glow */
  --circle-size: 250%; /* Adjust this size as needed */
  --blending: hard-light; /* Adjust blend mode if needed */
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  position: absolute;
}

.gradient-bg .gradients-container {
  width: 100%;
  height: 100%;
}

.gradient-bg .g1,.gradient-bg .g2,.gradient-bg .g3,.gradient-bg .g4,.gradient-bg .g5,.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  opacity: 1;
}

.gradient-bg .g1 {
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 15s ease infinite;
  filter: url(#goo) blur(40px);
}

.gradient-bg .g2 {
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 10s reverse infinite;
  filter: url(#goo) blur(40px);
}

.gradient-bg .g3 {
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 13s linear infinite;
  filter: url(#goo) blur(40px);
}

.gradient-bg .g4 {
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 15s ease infinite;
  opacity: 0.7;
  filter: url(#goo) blur(40px);
}

.gradient-bg .g5 {
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  width: calc(var(--circle-size) * 1.5);
  height: calc(var(--circle-size) * 1.5);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 18s ease infinite;
  filter: url(#goo) blur(40px);
}

.gradient-bg .interactive {
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  opacity: 0.7;
  filter: url(#goo) blur(40px);
}

.skills{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: fadeIn 1s ease-in-out 10s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.skills{
  height: 100%;
  /* border: 1px solid red; */
  width: 210px;
  overflow: hidden;
  mask-image: linear-gradient(
    to top, transparent, #000 15% 75%, transparent
  );
  position: absolute;
  top: 0;
  right: 0;
  margin-right:10px ;
  padding-left: 5px;

}
#slider2{
  right:220px;
}

.skills:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}

.skills .item:hover{
  filter: grayscale(0);
}

.skills .list{
  position: relative;
  /* border: 2px solid blue; */
  height: 100%;
  min-height: calc(var(--height)*var(--quantity));
  justify-content: center
}
.skills .list .item{
  width:var(--width);
  height:var(--height);
  position: absolute;
  top:calc(var(--position)* var(--height));
  animation: autorun 10s linear infinite;
  transition: filter 0.5s;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.skills .list .item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes autorun{
  0%{
    top: 100%;
  }
  100%{
    top:calc(var(--height)*-1);
  }
}


.skills .list .item:nth-child(1) {
  animation-delay: 0s;
}

.skills .list .item:nth-child(2) {
  animation-delay: 1.43s;
}

.skills .list .item:nth-child(3) {
  animation-delay: 2.86s;
}

.skills .list .item:nth-child(4) {
  animation-delay: 4.29s;
}

.skills .list .item:nth-child(5) {
  animation-delay: 5.71s;
}

.skills .list .item:nth-child(6) {
  animation-delay: 7.14s;
}

.skills .list .item:nth-child(7) {
  animation-delay: 8.57s;
} 

#slider2 .list .item:nth-child(1){
  animation-delay:2s ;
}
#slider2 .list .item:nth-child(2){
  animation-delay:3.43s ;
}
#slider2 .list .item:nth-child(3){
  animation-delay: 4.86s;
}
#slider2 .list .item:nth-child(4){
  animation-delay: 6.29s;
}
#slider2 .list .item:nth-child(5){
  animation-delay: 7.71s;
}
#slider2 .list .item:nth-child(6){
  animation-delay: 9.14s;
}
#slider2 .list .item:nth-child(7){
  animation-delay:10.57s;
}

/* section2 */

#page2{
  background-color: #f7f9f2;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 30px 20px;
  position: relative;
  /* background-color: #09f1b8; */
}

#page2 h2{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: rgb(7, 6, 76);
  font-size: 160px;
  /* font-weight: bold; */
  font-family: 'Rubik doodle shadow';
  white-space: nowrap;
  letter-spacing: 7px;
}

.card {
  position: absolute;
  width: 290px;
  height: 354px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: scale(2.5);
  margin: 10px 10px;
}
#card1{
  top: 300px;
  left: 80px;
}
#card2{
  top: 300px;
  left: 425px;
}
#card3{
  top: 300px;
  left: 780px;
}
#card4{
  top: 300px;
  left: 1135px;
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,#ff0058);
  border-radius: 10px;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03a9f4,#ff0058);
  filter: blur(30px);
  border-radius: 10px;
}

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 10px;
}

.card img {
  position: absolute;
  z-index: 3;
  scale: 0.8;
  opacity: 0.25;
  transition: 0.5s;
  border-radius: 10px;
  width: 290px;
  height: 354px;
}

.card:hover img {
  scale: 0.5;
  opacity: 0.9;
  transform: translateY(-70px);
  border-radius: 10px;
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

/* section3 */
#page3{
  height: 80%;
  width: 100%;
  background-color: #F7F9F2;
  position: absolute;
  overflow: hidden;
}

.form-container {
  width: 400px;
  background: linear-gradient(#F7F9F2, #F7F9F2) padding-box,
              linear-gradient(145deg, transparent 30%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  position: absolute;
  top:10%;
  left: 72%;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #1b1b1b;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #1b1b1b;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  border: none;
  outline: none;
  box-shadow: 2px 5px 10px rgb(5, 5, 5);
}

.form-container .form-group textarea:focus {
  outline: none;
  border:none;
  box-shadow: 2px 5px 10px rgb(5, 5, 5);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  width: 100px;
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(
    90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* share icons */
ul {
  list-style: none;
}

.contact{
  width: 1000px;
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  left: 0%;
  top: 10px;
  /* border: 1px solid black; */
  font-family: 'Rubik Doodle Shadow';
  font-size: 210px;
  margin-left: 20px;
  color:rgb(7, 6, 76);
}


#page3>h5{
  position: relative;
  top: 95%;
  left: 1%;
  font-size: large;
}
#page2 h5 a{
  color: red;
}
